/* Whole page styles */
body {
    background-color: rgb(79, 125, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

/* Heading Styles */
div {
    display: grid;
    /* creates 2 columns */
    grid-template-columns: 2fr 2fr; 
    /* Header, content, footer rows */
    grid-template-rows: auto 2fr auto;
    grid-template-areas: 
    "header header"
    "ol ul"
    "footer footer";
    min-height: 100vh;
    gap: 10px; 
  }
header {
    grid-area: header;
    background-color: rgb(42, 8, 129);
    padding: 20px;
  }
h1, h2, h3 {
    text-align: center; 
    height: 19px;
    padding: 18px;
}
/* Paragraph and List Styles */
ul {
    grid-area: ul;
    background-color: rgb(122, 33, 122);
    padding: 20px;
  }
ol {
    grid-area: ol;
    background-color: rgb(100, 100, 198);
    padding: 20px;
  }
li {
    text-align: left;
    color: rgb(10, 2, 9);
  }
/* Class and ID Styles */
.first_subtitle {
    background-color: rgb(22, 6, 105);
  }
/* Footer and Link Styles */
footer {
    grid-area: footer;
    background-color: rgb(205, 73, 40);
    padding: 20px;
}
a:link { 
    color:rgb(166, 193, 135)
}
a:visited {
    color:black
}
/* On screens that are 600px or less, */
@media screen and (max-width: 600px) {
div {
    display: grid;
    /* creates 1 columns */
    grid-template-columns: 1fr; 
    /* Header, content, footer rows */
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "ol"
    "ul"
    "footer";
    min-height: 100vh;
    gap: 10px; 
  }}